*{
    margin: 0;
    padding: 0;
}


body{
    background-image: url('img/img1.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    color: aliceblue;
    

}
nav{
    display:flex;
    justify-content:space-evenly;
    padding: 38px;
    margin: 1px ;

}
.logo{
    width: 8vw;
    font-size: 10em;
}